body{
    font-family: 'Muli', sans-serif;
    background: #efe2ba;
    text-align: center;
}
.heading{
    background:#a8d0e6;
    line-height: 1.6;
    padding: 10px;
    margin: 10px;
}

.heading h1{
    color: #F13C20;
}

.heading p{
    color: #D79922;
}




