.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr .2fr 1.2fr .8fr ;
    grid-template-areas: 
    "heading heading"
    "nav nav"
    "city city"
    "footer footer";
}

.heading{
    background: salmon;
    grid-area: heading;
}

nav{
    background-color: tan;
    grid-area: nav;
}

.city{
    background-color: sandybrown;
    grid-area: city;
}


footer{
    background-color: sienna;
    grid-area: footer;
}