body{
    font-family: 'Muli', sans-serif;
    background: #ebebd3;
    text-align: center;
}

.heading{
    grid-area: heading;
}

nav{
    grid-area: nav;
}

.box1{
    grid-area: box1;
}

.box2{
    grid-area: box2;
}


footer{
    grid-area: footer;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hello h1{
    grid-column: span 2;
}