body{
    font-family: 'Muli', sans-serif;
    background: #ffffff;
    text-align: center;
}
.heading{
    line-height: 1.6;
    padding: 1px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.heading h1{
    color: #F13C20;
    text-shadow: 2px 2px #002868;
    size: 40px;
}

.heading p{
    color: #002868;
}

h3 a{
    padding: 1px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.box:hover{
    text-decoration: underline;
    background-origin: padding-box;
    border-bottom: 3px;
    box-shadow: inset 0 -0.90em 0 #eeff00;
}

.cities a{
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}

.options a{
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}


body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  }

